---
---

[v-cloak]
  display: none

body
  display: flex
  min-height: 100vh
  flex-direction: column

  main
    flex: 1 0 auto

    textarea
      max-height: 100px

  footer
    .copyright
      margin-top: 8px

//code
//  display: block
//  white-space: pre-wrap
