<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Git history editor</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <!--Import prism.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.css">
    <!--Import custom css-->
    <link rel="stylesheet" href="css/stylesheet.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Git history editor">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">

</head>
<body>

<main>
    <!--Navbar-->
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h2 class="header center-on-small-only">
                            Git history editor
                        </h2>
                    </div>
                </div>
                <div class="nav-content">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs tabs-transparent">
                                <li class="tab"><a href="#tab-import">Import</a></li>
                                <li class="tab" v-bind:class="{ disabled: step < 2 }"><a href="#tab-edit">Edit</a></li>
                                <li class="tab" v-bind:class="{ disabled: step < 2 }"><a href="#tab-export">Export</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!--Step 1: import-->
    <div id="tab-import" class="container">
        <div class="row">
            <div class="col s12">
                <p>
                    To import your commit history, execute the following command in your project directory, then paste
                    the result below:
                </p>
                <pre><code
                        class="language-bash">git log -1000 --pretty=format:"%H*#%an*#%ae*#%at*#%s"|base64</code></pre>
            </div>
        </div>
        <div class="row valign-wrapper">
            <div class="input-field col s8 valign">
                <input id="input" type="text" class="validate" v-model="b64log">
                <label for="input">Paste here</label>
            </div>
            <div class="col s4">
                <a class="waves-effect waves-light btn" v-on:click="importCommits">
                    <i class="material-icons left">cloud</i>
                    Import
                </a>
            </div>
        </div>
    </div>

    <!--Step 2: edit-->
    <div v-cloak id="tab-edit" class="container" style="display: none">
        <div class="section">
            <p>
                Click on a field to start editing.
            </p>
        </div>

        <div class="row results">
            <table class="striped">
                <thead>
                <tr>
                    <th></th>
                    <th>SHA</th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Commit message</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(commit, i) in currentCommits">

                    <!--Reset-->
                    <td class="grey-text text-darken-2">
                        <a href="javascript:void(0)" v-on:click="resetCommit(i)" class="black-text">
                            <i class="tiny material-icons">replay</i>
                        </a>
                    </td>

                    <!--SHA-->
                    <td class="grey-text text-darken-2">{{ commit.sha.substring(0, 7) }}</td>

                    <!--Name-->
                    <td>
                        <div v-if="commit.edited.name === false">
                            <a v-on:click="commit.edited.name=true" href="javascript:void(0)" class="teal-text">
                                {{ commit.name }}
                            </a>
                        </div>
                        <div v-else class="input-field">
                            <input v-model="commit.name" v-bind:id="commit.sha + '-name'"
                                   placeholder="Commiter name">
                        </div>
                    </td>

                    <!--Email-->
                    <td class="commit-email">
                        <div v-if="commit.edited.email === false">
                            <a v-on:click="commit.edited.email=true" href="javascript:void(0)" class="teal-text">
                                {{ commit.email }}
                            </a>
                        </div>
                        <div v-else class="input-field">
                            <input v-model="commit.email" v-bind:id="commit.sha + '-email'"
                                   placeholder="Commiter e-mail" type="email" class="validate">
                        </div>
                    </td>

                    <!--Date-->
                    <td class="commit-date">
                        <div v-if="commit.edited.date === false">
                            <a v-on:click="commit.edited.date=true; initDatePickers()" href="javascript:void(0)"
                               class="teal-text">
                                {{ commit.date }}
                            </a>
                        </div>
                        <div v-else class="input-field">
                            <input v-model="commit.date" v-bind:id="commit.sha + '-date'" type="date"
                                   class="datepicker">
                        </div>
                    </td>

                    <!--Time-->
                    <td class="commit-time">
                        <div v-if="commit.edited.time === false">
                            <a v-on:click="commit.edited.time=true" href="javascript:void(0)"
                               class="teal-text">
                                {{ commit.time }}
                            </a>
                        </div>
                        <div v-else class="input-field">
                            <input v-model="commit.time" v-bind:id="commit.sha + '-time'">
                        </div>
                    </td>

                    <!--Message-->
                    <td class="commit-message grey-text text-darken-2">{{ commit.message }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large" href="javascript:void(0)" v-on:click="changeStep('export')">
                <i class="large material-icons">done</i>
            </a>
        </div>
    </div>

    <!--Step 3: export-->
    <div v-cloak id="tab-export" class="container" style="display: none">
        <div class="row">
            <a class="waves-effect waves-light btn clipboard" v-bind:data-clipboard-text="output">
                <i class="material-icons left">cloud</i>
                Copy to clipboard
            </a>
            <pre><code class="language-bash" id="output">{{ output }}</code></pre>
        </div>
    </div>

</main>

<!--Footer-->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s4 copyright">
                <a class="grey-text text-lighten-4"
                   href="https://github.com/bokub" target="_blank">
                    © 2017 bokub
                </a>
            </div>
            <div class="col s4 center">
                <a href="https://github.com/bokub/git-history-editor" target="_blank">
                    <img src="img/github-logo.png" height="32" alt="Github logo">
                </a>
            </div>
            <div class="s4">
                <div class="right">
                    <a v-cloak class="github-button right" href="https://github.com/bokub/git-history-editor"
                       data-icon="octicon-star" data-style="mega" data-count-href="/bokub/git-history-editor/stargazers"
                       data-count-api="/repos/bokub/git-history-editor#stargazers_count"
                       data-count-aria-label="# stargazers on GitHub"
                       aria-label="Star bokub/git-history-editor on GitHub">Star</a></div>
            </div>
        </div>
    </div>
</footer>
<!--Import jQuery-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!--Import materialize.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
<!--Import clipboard.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
<!--Import prism.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-bash.min.js"></script>
<!--Datetime-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
<!--Import Vue.js-->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!--Import javascript for the page -->
<script src="js/vue.js"></script>
<!-- Github button -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>