---
---
<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Git history editor - Easily edit your past commits</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <!--Import prism.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.css">
    <!--Import time-picker style-->
    <link href="dist/wickedpicker.min.css" rel="stylesheet">
    <!--Import custom css-->
    <link rel="stylesheet" href="css/stylesheet.css">

    <link href="img/favicon.ico" rel="icon" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Git history editor">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="google-site-verification" content="AP7ip-eAPj3abUpEkg2_RJsN3o-kUWd83TwIrxfyDCQ" />
</head>
<body>

<main>
    <!--Navbar-->
    <nav class="nav-extended primary">
        <div class="nav-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h1 class="header center-on-small-only">
                            Git history editor
                        </h1>
                    </div>
                </div>
                <div class="nav-content">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs tabs-transparent">
                                <li class="tab"><a href="#tab-import">Import</a></li>
                                <li class="tab" v-bind:class="{ disabled: step < 2 }"><a href="#tab-edit">Edit</a></li>
                                <li class="tab" v-bind:class="{ disabled: step < 2 }"><a href="#tab-export">Export</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!--Step 1: import-->
    {% include import-tab.html %}

    <!--Step 2: edit-->
    {% include edit-tab.html %}

    <!--Step 3: export-->
    {% include export-tab.html %}

</main>

<!--Footer-->
<footer class="page-footer primary">
    <div class="container">
        <div class="row">
            <div class="col s4 copyright">
                <a class="grey-text text-lighten-4"
                   href="https://github.com/bokub" target="_blank">
                    © 2017 bokub <span class="peace">✌</span>
                </a>
            </div>
            <div class="col s4 center">
                <a href="https://github.com/bokub/git-history-editor" target="_blank">
                    <img src="img/github-logo.png" height="32" alt="Github logo">
                </a>
            </div>
            <div class="s4">
                <div class="right">
                    <a v-cloak class="github-button right" href="https://github.com/bokub/git-history-editor"
                       data-icon="octicon-star" data-style="mega" data-count-href="/bokub/git-history-editor/stargazers"
                       data-show-count="true"
                       data-count-aria-label="# stargazers on GitHub"
                       aria-label="Star bokub/git-history-editor on GitHub">Star</a></div>
            </div>
        </div>
    </div>
</footer>
<!--Import jQuery-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!--Import materialize.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
<!--Import clipboard.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
<!--Import prism.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-bash.min.js"></script>
<!--Datetime-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
<!--Import Vue.js-->
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<!--Import time-picker-->
<script src="dist/wickedpicker.min.js"></script>
<!--Import javascript for the page -->
<script src="js/vue.js"></script>
<!-- Github button -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>