<div v-cloak id="tab-edit" class="container content z-depth-1" style="display: none">
    <div class="section">
        <p>
            Click on a field to start editing. Click on <i class="tiny material-icons">replay</i> to reset a commit to
            its original state.
            <br>
            When you're finished, click on the 'export' tab above, or on the button at the bottom-right of the screen
        </p>
    </div>

    <div class="row results">
        <table class="striped">
            <thead>
            <tr>
                <th></th>
                <th>SHA</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Date</th>
                <th>Time</th>
                <th>Commit message</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(commit, i) in currentCommits" v-bind:id="commit.sha">

                <!--Reset-->
                <td class="grey-text text-darken-2">
                    <a href="javascript:void(0)" v-on:click="resetCommit(i)" class="black-text">
                        <i class="tiny material-icons">replay</i>
                    </a>
                </td>

                <!--SHA-->
                <td class="commit-sha grey-text text-darken-2">[[ commit.sha.substring(0, 7) ]]</td>

                <!--Name-->
                <td class="commit-name">
                    <div v-if="commit.edited.name === false">
                        <a v-on:click="commit.edited.name=true; focus(commit.sha, 'name')" href="javascript:void(0)"
                           class="link">
                            [[ commit.name ]]
                        </a>
                    </div>
                    <div v-else class="input-field">
                        <input v-model="commit.name" placeholder="Commiter name">
                    </div>
                </td>

                <!--Email-->
                <td class="commit-email">
                    <div v-if="commit.edited.email === false">
                        <a v-on:click="commit.edited.email=true; focus(commit.sha, 'email')" href="javascript:void(0)"
                           class="link">
                            [[ commit.email ]]
                        </a>
                    </div>
                    <div v-else class="input-field">
                        <input v-model="commit.email" placeholder="Commiter e-mail" type="email">
                    </div>
                </td>

                <!--Date-->
                <td class="commit-date">
                    <div v-if="commit.edited.date === false">
                        <a v-on:click="commit.edited.date=true; focus(commit.sha, 'date')" href="javascript:void(0)"
                           class="link">
                            [[ commit.date ]]
                        </a>
                    </div>
                    <div v-else class="input-field">
                        <input v-model="commit.date" v-bind:data-commit-number="i" type="date"
                               onchange="v.setDate($(this).attr('data-commit-number'), $(this).val())"
                               class="datepicker">
                    </div>
                </td>

                <!--Time-->
                <td class="commit-time">
                    <div v-if="commit.edited.time === false">
                        <a v-on:click="commit.edited.time=true; focus(commit.sha, 'time')" href="javascript:void(0)"
                           class="link">
                            [[ commit.time ]]
                        </a>
                    </div>
                    <div v-else class="input-field">
                        <input v-model="commit.time" v-bind:data-commit-number="i"
                               onchange="v.setTime($(this).attr('data-commit-number'), $(this).val())" name="timepicker"
                               class="timepicker">
                    </div>

                </td>

                <!--Message-->
                <td class="commit-message">
                    <div v-if="commit.edited.message === false">
                        <a v-on:click="commit.edited.message=true; focus(commit.sha, 'message')"
                           href="javascript:void(0)" class="link">
                            [[ commit.message ]]
                        </a>
                    </div>
                    <div v-else class="input-field">
                        <textarea v-model="commit.message" class="materialize-textarea no-transition"></textarea></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large accent" href="javascript:void(0)" v-on:click="changeStep('export')">
            <i class="large material-icons">done</i>
        </a>
    </div>
</div>
