<div v-cloak id="tab-export" class="container" style="display: none">
    <div v-if="output === ''" class="row">
        <div class="col s12">
            <h5>Nothing to change</h5>
            <p>
                It looks like you haven't edited anything yet.
                Come back here when you have changed your mind
            </p>
        </div>
        <div class="col s12">
            <br>
            <a class="waves-effect waves-light btn" v-on:click="changeStep('edit')">
                <i class="material-icons left">arrow_back</i>
                Continue editing
            </a>
        </div>
    </div>
    <div v-else class="row">

        <div class="col s12">
            <h5>Ready to export</h5>
            <p>
                If you're satisfied with your changes, just copy the script below and run it in your project's directory
            </p>
        </div>
        <div class="col s12">
            <br>
            <a class="waves-effect waves-light btn clipboard" v-bind:data-clipboard-text="output">
                <i class="material-icons left">content_copy</i>
                Copy to clipboard
            </a>
            <br>
            <br>
        </div>
        <pre><code class="language-bash" id="output" v-text="output"></code></pre>
    </div>
</div>