<div id="tab-import" class="container content z-depth-1">
    <div class="row description main-description">
        <div class="section col s12">
            <p>
                <b>Git History Editor</b> is a simple tool intended to help you edit your git history.
                Just import the result of your <code>git log</code> to get started.
                <br>
                You'll be able to edit author names and emails, commit messages, and even the time and date of your commits.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 instructions">
            <p>
                To import your commit history, execute the following command in your project directory, then paste
                the result below.
                <br>
                Just want to give it a try? No problem,
                <a href="javascript:void(0)" v-on:click="loadSampleData" class="link">click here</a>
                to load sample data
            </p>

            <div class="valign-wrapper command-div">
                <a class="waves-effect waves-light btn clipboard accent" data-clipboard-target="#git-log-code">
                    <i class="material-icons left">content_copy</i>
                    Copy
                </a>
                <pre class="valign"><code id="git-log-code"
                        class="language-bash">git log -1000 --pretty=format:"%H*#%an*#%ae*#%at*#%s"|base64</code></pre>
            </div>
        </div>
    </div>
    <div class="row valign-wrapper">

        <div class="input-field input-div valign">
            <input id="input" type="text" v-model="b64log" v-bind:class="{invalid: importFailure}">
            <label for="input" v-bind:class="{active: b64log.length > 0}">Paste here</label>
        </div>

        <div class="btn-div valign">
            <a class="waves-effect waves-light btn import-btn accent" v-on:click="importCommits">
                <i class="material-icons left">file_download</i>
                Import
            </a>
        </div>

    </div>
    <div class="row description secondary-description">
        <div class="section col s10 offset-s1 card">
            <p class="card-content">
                <b>Warning:</b> When changing the information of past commits, your are effectively <b>rewriting commit history</b>.
                <br>
                <br>
                This is nothing to take lightly: you will create new commit objects in this process, which can become a
                serious problem for your collaborators, because they might have already based new work on some of the original commits.
                <br>
                Therefore, you might not want to use this tool on commits already pushed, unless you work alone on the project.
                <br>
                <br>
                If you're sure about what you're doing, you can overwrite pushed commits using <code>git push --force</code>.
            </p>
        </div>
    </div>
</div>